/*
 * Device Tree Overlay for GPIO P0.13
 * nRF52832 Development Kit
 */

&gpio0 {
	status = "okay";
};

/* Define GPIO P0.13 as output */
gpio_p013: gpio {
	compatible = "gpio-leds";
	label = "GPIO P0.13";
	
	p013_pin {
		gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
		label = "P0.13";
	};
};
